body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: white;
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px 0;
    postion: relative;
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-container img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 20px;
}

.left-buttons,
.right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-buttons button,
.right-buttons button {
    margin: 0 40px;
    color: white;
    background-color: black;
}

.announcement-container-img {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 100px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.announcement-container-img img {
    border: 5px solid black;
    max-width: 100%;
    height: auto;
}